/* Portfolio
 *
 * /sass/components/_home-buttons.scss
 *
 * coded by Anne
 * started at 10/05/2016
 */

.buttons {
    display: inline-block;
    text-align: center;
    width: 900px;
    margin: 5em auto;
    text-align: center;

    &__link {
        text-decoration: none;
        display: inline-block;
        text-align: center;
        width: 350px;
        font-size: 2em;

        color: $lightColor;
        padding: 0.5em 1em;
        border: 2px solid transparent;
        @include gradient();
    }
    &__link:hover {
        background: $lightColor;
        color: $darkColor;
        border: 2px solid $darkColor;
        transition: .3s ease-in-out;
    }
}
