/* Portfolio
 *
 * /sass/components/_cv.scss
 *
 * coded by Anne
 * started at 10/05/2016
 */

 .cv {
     position: relative;
     margin: 0 auto;
     &-top {
         margin-bottom:  12.5em; /*200px*/
     }
     &__title {
         font-family: $headingStack;
         position:absolute;
         top: -6.25em; /*100px*/
         left: 11.111%; /*100px*/
         color:white;
         font-size:2em;
     }
     &__figure {
         margin-bottom: 6.25em; /*100px*/
     }
     &__img {
         display: block;
         width: 33.333%; /*300px*/
         height: auto;
         margin: 0 auto;
         position: absolute;
         top:-1.562em; /*25px*/ 
         right: 16.666%; /*150px*/
     }
     &__section {
         margin-bottom: 1.875em; /*30px*/
     }
     &__sectionTitle {
         margin-bottom: 1em;
         font: 1.8em $headingStack;
         color: $darkColor;
     }
     &__list {
         margin-bottom: 1.875em;
         &-title {
             font-size: 1.5em;
             font-family: $headingStack;
         }
         &-item {
             margin-bottom: 0.625em; /*10px*/
         }
     }
     &__git {
         display: block;
         text-align: center;
         width: 11.111%; /*100px*/ 
         margin: 0 auto;
         text-decoration: none;
         color: $darkColor;
     }
         &--icon {
             display: block;
              width: 100%; /*100px*/ 
              margin: 0 auto;
              
         }
     &__git:hover, &__git:focus {
         color: #998bb6;
         transition: .3s ease;
     }
 }

 .left, .right {
     display: inline-block;
     width: 42.222%; /*380px*/ 
     vertical-align: top;
     margin-bottom: 1.875em; /*30px*/ 
 }
 .left {
     margin-right: 12.222%; /*110px*/
     margin-top: 6.25em; /*100px*/
 }

 .infos {
     position: absolute;
     width: 38.888%; /*350px*/
     top:3.437em; /*55px*/
     left: 6.666%; /*60px*/
     &__item {
        margin-bottom: 1em;
         padding-left: 3.333%; /*30px*/
        &--icon {
            font-family:'Glyphs';
            display: inline-block;
            padding-right: 1.111%; /*10px*/
        }
     }

 }

 .item {
     &__title, &__date {
         display: block;
     }
     &__title {
        font-size: 1.2em;
     }
     &__date {
        font-size: 0.8em;
        margin-bottom: 0.5em;
        margin-left: 0.5em;
     }
     &__star {
         font-size: 1em;
         margin-bottom: 0.5em;
         margin-left: 0.5em;

         &--rate {
             font-size: 0.4em;
         }
     }

 }

 .competences {
     margin-top: 4.375em; /*70px*/
 }
 .experience {
     margin-top: 10px; /*10px*/
 }

 @media screen and (max-width: 1000px) {
    .cv {
        &__git {
         width: 20%; 
        }
    }
}

@media screen and (max-width: 700px) {
     .left, .right {
     display: block;
     width: 80%; 
     margin-bottom: 1.875em; 
     }
    .left {
     margin-right: 0; 
     margin-top: 20em; 
    }
     .infos {
        width: 55%; 
        top: 5em;
        left: 0; 
    }
}

@media screen and (max-width: 540px) { 
    .cv {
        &__img {
            width: 40%;
            top:-3em; 
        }
        &__git {
            width: 30%;
        }
    }
    .infos {
        width: 70%;
        top: 8em;
    }
    .left {
     margin-top: 24em; 
    }
}

 @media screen and (max-width: 535px) {
    .infos {
        width: 85%;
        top: 8em;
    }
 }

@media screen and (min-width: 320px) and (max-width: 534px) {
    .cv {
        &__img {
            width: 60%;
            top:-3em; 
        }
        &__git {
            width: 50%;
        }
    }
    .infos {
        font-size: 0.9em;
    }
}


