/* Portfolio
 *
 * /sass/components/_projects.scss
 *
 * coded by Anne
 * started at 10/05/2016
 */

.work {
    display: inline-block;
    width: 44.444%; /*400px*/ 
    margin-bottom: 4em; /*64px*/
    vertical-align: top;
    position: relative;
    &:nth-child(odd) {
        margin-right: 7.111%; /*64px*/
        margin-top: -18.75em; /*300px*/
    }
    &:first-child {
        margin-left: 7.111%; /*64px*/
    }
    &:nth-child(2) {

    }

    &__img {
        width: 100%; /*400px*/ 
       -webkit-transition: all 0.4s ease-in-out 0.5s;
       -moz-transition: all 0.4s ease-in-out 0.5s;
       -o-transition: all 0.4s ease-in-out 0.5s;
       -ms-transition: all 0.4s ease-in-out 0.5s;
       transition: all 0.4s ease-in-out 0.5s;
    }
    &__mask {
       background-color: rgba( 61, 48, 87, 0.7 );
       width: 100%; /*400px*/ 
       height: 100%;
       position: absolute;
       top:0;
       left:0;
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
       -webkit-transition: all 0.3s ease-in 0.4s;
       -moz-transition: all 0.3s ease-in 0.4s;
       -o-transition: all 0.3s ease-in 0.4s;
       -ms-transition: all 0.3s ease-in 0.4s;
       transition: all 0.3s ease-in 0.4s;
       overflow: hidden;
       text-decoration: none;
    }
    &__title {
        opacity: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        text-align: center;
        font: 2.5em $headingStack;
        color: white;
        margin: 4em 0 0;
    }
    &__text {
        opacity: 0;
        text-align: center;
        font: 1.2em $laborStack;
        color:white;
        width: 90%; /*360px*/
        margin: 1em auto;
    }
    &__more {
         display: inline-block;
         text-decoration: none;
         padding: 0.437em 3.5%; /*7px 14px*/
         width: 100%; /*400px*/ 
         margin: 0 auto;
         text-align: center;
         color: #fff;
         text-transform: uppercase;
        opacity: 0;
    }

    &:hover .work__mask, &:focus .work__mask {
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
       opacity: 1;
       -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
       -o-transition-delay: 0s;
       -ms-transition-delay: 0s;
       transition-delay: 0s;
       width:100%; /*400px*/ 
    }
    &:hover .work__img, &-focus .work__img {
       -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
       -o-transition-delay: 0s;
       -ms-transition-delay: 0s;
       transition-delay: 0s;
    }
    &:hover .work__title, &:focus .work__title {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
    &:hover .work__text, &:focus .work__text {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
    &:hover .work__more, &:focus .work__more {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .work {
        &__title {
        margin: 1em 0 0 0;
      }
    }
}

@media screen and (max-width: 885px) {
    .work {
        &:nth-child(odd) {
        margin-top: -12.5em; 
      }
    }
}

@media screen and (max-width: 540px) {
    .work {
        display: block;
        width: 80%;
        margin: 0;
        margin-bottom: 2em;
        position:relative;
        margin-left: 10%;
        &:nth-child(odd) {
        margin-top: 0; 
      }
      &:first-child {

      }
      &__mask {
        position: absolute;
        top:0;
        left: 0;
      }
    }
}


