/* Portfolio
 *
 * /sass/components/_single-project.scss
 *
 * coded by Anne
 * started at 10/05/2016
 */

.project {
    &__first {

    }
    &__title {
        margin-top: 2em;
    }
    &__type {
        display: block;
        font-size: 0.5em;
    } 

    &__button {
        display: block;
        width: 22.222%; /*200px*/
        margin: 2em auto;
        &--link {
            display: inline-block;
            width: 100%;
            font-size:1.2em;
            text-align: center;
            background: $darkColor;
            color:white;
            text-decoration: none;
            padding: 0.5em 1em;
        }
        &--link:hover {
            background: #B39DC7;
            transition: background .5s ease;
        }
    }
    &__github {
        display: block;
        width: 44.444%; /*400px*/
        margin: 2em auto;
        text-decoration: none;
        color: $darkColor;
        text-align: center;
        
    }
}

.part {
    margin: 2em 0;
    &__first {
        &--left {
            display: inline-block;
            width: 47%;
            vertical-align: middle;
        }
        &--right {
            display: inline-block;
            width: 47%;
            vertical-align: middle;
            margin-left: 5%;
        }
    }
    &__second {
        display: inline-block;
        width: 47%;
    }
    &__third {
        &--right {
            display: inline-block;
            vertical-align: middle;
            width: 47%;
            margin-left: 5%;
        }
        &--left {
            display: inline-block;
            vertical-align: middle;
            width: 47%;
        }
    }
    &__fourth {
            display: inline-block;
            width: 47%;
    }
    &__last {

    }
}

@media screen and (max-width: 1000px) {
    .project {
        &__button {
            width: 30%;
        }
        &__github {
            width: 60%; 
        }
    }

    .part {
        margin: 2em 0;
        &__first {
            &--left {
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: 2em;
            }
            &--right {
                display: block;
                width: 100%;
                margin-left: 0;
            }
        }
        &__second {
            display: block;
            width: 100%;
        }
        &__third {
            &--right {
                display: block;
                width: 100%;
                margin-left: 0;
                text-align: center;
            }
            &--left {
                display: block;   
                width: 100%;
                margin-bottom: 2em;
            }
        }
        &__fourth {
            width: 100%;
            display: block;    
        }
        &__last {
            text-align: center;
        }
    }
}

@media screen and (max-width: 885px) {
    .project {
        &__button {
            width: 30%;
        }
    }
}

